*.md
CHANGELOG
api
crds
docs
enabled
hooks
hack
images
images_digests.json
lib
Makefile
monitoring_test
openapi
release.yaml
scripts
template_tests
testing
tools
werf*.yaml
e2e
common
go-lint.sh
known_vulnerabilities.vex
module.yaml
oss.yaml
.git
.github
.gitignore
.gitleaks.toml
.golangci.yaml
.dmtlint.yaml
.namespace
.werf
